spring:
  application:
    name: vault-secret

  # datasource:
  #   driver-class-name: org.postgresql.Driver
  #   url: ${DATASOURCE_URL}
  #   username: ${DATASOURCE_USERNAME}
  #   password: ${DATASOURCE_PASSWORD}

  jpa:
    generate-ddl: true
    hibernate:
      # Hibernate ddl auto (create, create-drop, validate, update)
      ddl-auto: create
    show-sql: false

  config:
    import:
      #- optional:file:./env/.env.${spring.profiles.active}[.properties] # local
      - optional:vault://

  cloud:
    vault:
      uri: ${VAULT_ADDR} # vault domain uri (port: 8200)
      authentication: TOKEN
      token: ${VAULT_TOKEN} # vault auth token
      connection-timeout: 3000
      read-timeout: 10000
      kv:
        backend: secret
        application-name: vault-secret
        default-context:
        profiles: ${spring.profiles.active}

server:
  port: 8080

management:
  endpoints:
    web:
      exposure:
        include: env,configprops
  endpoint:
    env:
      show-values: always
    configprops:
      show-values: always
---
# local 프로파일 (로컬 개발, TOKEN 인증)
spring:
  config:
    activate:
      on-profile: "local"
    import: "vault:"       # local 프로파일에서 다시 vault import

  jpa:
    generate-ddl: true
    hibernate:
      # Hibernate ddl auto (create, create-drop, validate, update)
      ddl-auto: update
    show-sql: true
---
# development 프로파일 (로컬 개발, TOKEN 인증)
spring:
  config:
    activate:
      on-profile: "development"
    import:
      - optional:file:/vault/secrets/application.properties
      - vault://       # local 프로파일에서 다시 vault import

  cloud:
    vault:
      uri: ${VAULT_ADDR} # vault domain uri (port: 8200)
      authentication: KUBERNETES
      kubernetes:
        role: k3s-kubernetes-role     # Vault에 설정한 role 이름[web:11][web:12]
        # kubernetes-path: kubernetes
        # SA 토큰 파일 위치 (기본값이 아래 경로)
        # service-account-token-file: /var/run/secrets/kubernetes.io/serviceaccount/token
  jpa:
    generate-ddl: true
    hibernate:
      # Hibernate ddl auto (create, create-drop, validate, update)
      ddl-auto: update
    show-sql: true
---
# no-vault 프로파일 (properties 파일 import)
spring:
  config:
    activate:
      on-profile: "no-vault"
    import:
      - optional:file:/vault/secrets/application.properties
      # for local test
      # - optional:file:/home/pi/Documents/spring-workspace/vault-secret/application.properties

  cloud:
    vault:
      enabled: false
      
  jpa:
    generate-ddl: true
    hibernate:
      # Hibernate ddl auto (create, create-drop, validate, update)
      ddl-auto: update
    show-sql: true

