spring:
  application:
    name: vault-secret

  jpa:
    generate-ddl: true
    hibernate:
      # Hibernate ddl auto (create, create-drop, validate, update)
      ddl-auto: update
    show-sql: true

  config:
    import:
      - optional:file:/vault/secrets/application.properties
      - vault://

  cloud:
    vault:
      uri: ${VAULT_ADDR} # vault domain uri (port: 8200)
      authentication: KUBERNETES
      kubernetes:
        role: k3s-kubernetes-role     # Vault에 설정한 role 이름[web:11][web:12]
        # kubernetes-path: kubernetes
        # SA 토큰 파일 위치 (기본값이 아래 경로)
        # service-account-token-file: /var/run/secrets/kubernetes.io/serviceaccount/token
      connection-timeout: 3000
      read-timeout: 10000
      kv:
        backend: secret
        application-name: vault-secret
        default-context:
        profiles: ${spring.profiles.active}
