spring:
  application:
    name: vault-secret

  jpa:
    generate-ddl: true
    hibernate:
      # Hibernate ddl auto (create, create-drop, validate, update)
      ddl-auto: update
    show-sql: true

  config:
    import:
      #- optional:file:./env/.env.${spring.profiles.active}[.properties] # local
      - vault://

  cloud:
    vault:
      uri: ${VAULT_ADDR} # vault domain uri (port: 8200)
      authentication: TOKEN
      token: ${VAULT_TOKEN} # vault auth token
      connection-timeout: 3000
      read-timeout: 10000
      kv:
        backend: secret
        application-name: vault-secret
        default-context:
        profiles: ${spring.profiles.active}
