spring:
  application:
    name: vault-secret

  # datasource:
  #   driver-class-name: org.postgresql.Driver
  #   url: ${DATASOURCE_URL}
  #   username: ${DATASOURCE_USERNAME}
  #   password: ${DATASOURCE_PASSWORD}

  jpa:
    generate-ddl: true
    hibernate:
      # Hibernate ddl auto (create, create-drop, validate, update)
      ddl-auto: create
    show-sql: false

server:
  port: 8080

management:
  endpoints:
    web:
      exposure:
        include: env,configprops
  endpoint:
    env:
      show-values: always
    configprops:
      show-values: always
